.tituloResi, .subtituloResi{
    text-align: center;
    color: #606C38;
}

.indiceResi{
    display: flex;
    justify-content: space-evenly;
    margin: 70px;
}
.indiceResi .conteudosResi{
    width: 48%;
}
.indiceResi h3{
    margin-bottom: 15px;
}
.indiceResi h3 span{
    background: #283618;
    color: #fff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 2px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    margin-right: 5px;
}
.indiceResi p{
    padding: 0px 0px 30px 15px;
    font-weight: 300;
    text-align: justify;
}