
.creditos{
    text-align: center;
    margin-top: 20px;
}
.creditos h3{
    margin-bottom: 3px;
}

.credit{
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 100px;
}

.dev h3{
    margin-bottom: 15px;
}

.resp{
    display: flex;
    flex-direction: column;
    order: 0;
    flex-grow: 0;
}

.dev{
    display: flex;
    flex-direction: column;
    order: 1;
    flex-grow: 0;
}

.desi{
    display: flex;
    flex-direction: column;
    order: 2;
    flex-grow: 0;
}

.titulocred{
    margin-top: 50px;
    text-align: center;
}

hr{
    margin-top: 50px;
    border: none;
    display: block;
    border: 1px inset;
    overflow: hidden;
    margin-right: auto;
    margin-left: auto;
}