
*{
  box-sizing: border-box;
  padding:0;
  margin:0;
}
  

footer{
    background: #414141;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
    height: 20rem;
  }
  
  .creditos{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 30px;
    border-bottom: 1px solid #ccc;
  }
  
  .equipes{
    text-align: center;
  }
  
  .equipes h4{
    color: #fff;
    border-bottom: 3px solid #606C38;
    padding-bottom: 5px;
    margin-bottom: 10px;
  }
  
  .equipes p{
    color: #ccc;
  }
  
  
  
  .Logo{
    display: flex;
    flex-direction: column;
    margin: .5rem;
    padding: 1rem;
    justify-content: space-between;
  }

  .Logo .titulo-final{
    background-color: #414141;
    opacity: .8;
    text-align: right;
    font-size: .625rem;
    color: #9e9797;
    transform: translate(-50%, -50);
    background: linear-gradient(-45deg, #7c7375, #695e62, #4e4247);
    text-transform: uppercase;
   -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animated_text 6s ease-in-out infinite;
    -moz-animation: animated_text 6s ease-in-out infinite;
    -webkit-animation: animated_text 6s ease-in-out infinite;

  }

  @keyframes animated_text {
    0%{
      background-position: 0px 50%;
    }
    50%{
      background-position: 100% 50%;
    }
    100%{
      background-position: 0px 50%;
    }
  }
  .Logo .card img{
    max-width: 100%;
    height: 100px;
  
  }

  .Logo .card{
    display: flex;
    justify-content: space-between;
  }

